# Variables de entorno

# Entorno actual (development, test, production)
NODE_ENV=development

# Configuración de base de datos usando DATABASE_URL
DATABASE_URL=postgresql://neondb_owner:npg_rOKGT8cS1WIU@ep-late-boat-accan2fo-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=require

# Puerto del servidor
PORT=3000 